<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add book</h1>
    <form action="/addbook" method="post">
        <input type="text" placeholder="bookname" name="bookname" >
        <input type="text" placeholder="description" name="desc" id="">
        <input type="text" placeholder="author" name="author" id="">
        <input type="text" placeholder="imageURL" name="img" id="">
        <input type="number" placeholder="price" name="price" id="">
        <input type="submit" >
    </form>
</body>
</html>
