<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form action="/edit/<%= Books._id %>" method="post">
         <input type="text" placeholder="Name" name="name" value="<%= Books.bookname %>">
         <input type="text" placeholder="author" name="author" value="<%= Books.author %>">
         <input type="text" placeholder="Book Image" name="image" value="<%= Books.img %>">
         <input type="submit">
    </form>
</body>
</html>