<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
 <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <ul>
            <% todo.forEach(el => { %>
                <li>
                    <span><%= el.task %></span>
                    <div>
                    <a class="aa" href="/edit/<%= el.id %>">Edit</a> 
                        <form action="/delete/<%= el.id %>" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
        <a cla href="/add" class="add-task">Add Task</a>
    </div>
</body>
</html>