<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Add Form</h1>
    <form action="/book/addBook" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="name">
        <input type="text" name="author" placeholder="Author">
        <input type="file" name="image" >
        <input type="submit">
    </form>
</body>
</html>